.icon-HOME{
    background: url("../images/icon-HOME.png") no-repeat left center;
    background-size: 0.8rem 0.7rem;
}
.icon-PIN-2{
    background: url("../images/icon-PIN-2.png") no-repeat left center;
    background-size: 0.6rem 0.8rem;
}
.icon-CREDIT-CARD{
    background: url("../images/icon-CREDIT-CARD.png") no-repeat left center;
    background-size: 0.8rem 0.6rem;
}
.icon-USER_OK{
    background: url("../images/icon-USER_OK.png") no-repeat left center;
    background-size: 0.8rem 0.7rem;
}
.icon-iphone{
    background: url("../images/icon-iphone.png") no-repeat left center;
    background-size: 0.6rem 0.8rem;
}

.register-from .inp{
    height: 0.9rem;
    line-height: 0.8rem;
    padding-left: 1rem;

}

.open-account{
    padding-right: 1rem;
    display: inline-block;
    font-size: 0.75rem;
    color: #9a9a9a;
    background: url("../images/buy-icon-3.png") no-repeat right center;
    background-size: 0.4rem 0.6rem;
}
.register-from .inp span{
    display: inline-block;
    width: 3rem;
    font-size: 0.70rem;

}


.buy-agreement{
    padding: 0.6rem 0.6rem 0 0.6rem;
    overflow: hidden;
}

.buy-agreement label p{
    color: #ffffff;
    font-size: 0.56rem;
    float: left;
}




