.icon-code{
    background: url("../images/icon-code.png") no-repeat left center;
}

.edit-deal-password-from .tips i{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
.edit-deal-password-from .tips i img{
    width: 100%;
}
.edit-deal-password-from .tips p{
    width: 12rem;
    display: inline-block;
    font-size: 0.59rem;
    line-height: 0.85rem;
    margin-top: 0.2rem;
    color: #606060;
}
.edit-deal-password-from .inp{

    height: 0.9rem;
    line-height: 0.8rem;
    padding-left: 0.8rem;
    background-size: 0.6rem 0.8rem;
}

.edit-deal-password-from .inp span{
    display: inline-block;
    width: 2.5rem;
    font-size: 0.70rem;

}

.edit-deal-password-from .inp input{
    width: 7rem;

}



