.icon-notepad_remove{
    background: url("../images/icon-notepad_remove.png") no-repeat left center;
    background-size: 0.7rem 0.8rem;
}
.icon-oppassLock{
    background: url("../images/icon-oppassLock.png") no-repeat left center;
    background-size: 0.6rem 0.8rem;
}
.icon-passLock{
    background: url("../images/icon-passLock.png") no-repeat left center;
    background-size: 0.6rem 0.8rem;
}


.edit-deal-password-next .inp{

    height: 0.9rem;
    line-height: 0.8rem;
    padding-left: 0.8rem;
}

.edit-deal-password-next .inp span{
    display: inline-block;
    width: 3.5rem;
    font-size: 0.70rem;

}

.edit-deal-password-next .inp input{
    width: 8rem;

}

