/*首页*/
.home{
    padding-bottom: 3.2rem;
}
.submit-box .layermcont{
    padding: 0;
}
.submit-box .submit-nav span{
    font-size: 0.65rem;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 8rem;
        position: relative;
}


.submit-box .submit-nav span i{
    position: absolute;
    top: 0.9rem;
    left: 5.1rem;
    display: block;
    width: 0.5rem;
    height:  0.3rem;
    background: url("../images/icon-play2.png") no-repeat center;
    background-size: cover;
}
.submit-box .submit-nav span.active{
    color: #03AEF0;
}
.submit-box .submit-nav span.active i{
    background: url("../images/icon-play.png") no-repeat center;
    background-size: cover;
}
.submit-box .submit-nav span.bgap {
    border-right: 0.05rem solid #DFDFDF;
}
.subBtn {
    margin: 0 0.2rem;
}
.home .i-icon li{
    padding-top:0.3rem ;
    width: 5.32rem;
    height:3rem;
    border: 0.04rem solid #e3e3e3;
    /*background: -webkit-gradient(linear, left bottom, left top,  color-stop(50%,#ffffff) , color-stop(0%,#d6d6d6));*/
    background: -webkit-linear-gradient(bottom, #cacaca 0%, #fefefe 40% ,#ffffff 41% ,#ffffff 100%);
}

.home .i-icon li p{
    font-size:0.6rem;
    margin-top: 0.3rem;
    color: #686868;
}
.home .i-icon li img{
    width: 1rem;
}

.home .panel{
    position: relative;
    padding: 0.9rem 0 ;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #d4d4d4 0%, #fff 20%);
    border-left: 0.2rem #00aeef solid;
    border-radius: 0.1rem 0.2rem 0.2rem 0.1rem;
}



.home .panel {
    overflow: hidden;
    margin-bottom: 1rem;
}

.home .panel h3{
    font-size: 0.75rem;
    color: #000A25;
    font-family: "微软雅黑";
}
.home .panel .ms{
    color: #00aeef;
    font-size: 0.75rem;
    margin: 0.5rem 0 0.6rem 0;
}
.home .panel .unit{
    font-size: 1.6rem;
}

.home .panel ul{

}
.home .panel ul li{
    display: inline-block;
    font-size: 0.6rem;
    padding: 0.16rem;
    border-radius: 0.1rem ;
    background: rgba(0, 165, 237, 0.09);
    border: 0.06rem solid #33bef2;
    color: #00aeef;
}

.home .panel span{
    color: #EE523C;
}

.index-register{
    background-color:#008FD1 ;
    padding: 0.6rem 0;
}
.index-register h3{
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

.icon-iphone{
    background: url("../images/icon-iphone.png") no-repeat 0.6rem center;
}
.icon-oppassLock{
    background: url("../images/icon-oppassLock.png") no-repeat 0.6rem center;
}

.icon-code{
    background: url("../images/icon-code.png") no-repeat 0.6rem center;
}
.index-register .inpBox{
    background-color:#007ABA ;
    width: 15rem;
    border-radius: 0.08rem;
    margin:  0 auto;
    box-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.7);
    padding: 0.3rem 0 0.3rem 1.5rem;
    background-size: 0.6rem 0.8rem;
}

.index-register .inpBox span{
    float: left;
    font-size: 0.6rem;
    color: #EDEDED;
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.2rem;

}

.index-register .inpBox input{
    float: left;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #EDEDED;
}
.index-register .inpBox input::-webkit-input-placeholder{
    font-family: "微软雅黑";
    font-weight: 100;
    color: #4DA2CF;
}
.index-register-code{
    color: #EDEDED;
    border-left: 0.05rem solid #0092D2;
    display:inline-block;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;
    padding: 0 0.5rem;
}

.buy-agreement{
    padding: 0.6rem 0.6rem 0;
    overflow: hidden;
}
.buy-agreement label input{
    margin: 0.1rem 0.4rem 0 0;
    float: left;
    width: 0.6rem;
    height: 0.6rem;
}
.buy-agreement label p{
    color: #ffffff;
    font-size: 0.6rem;
    float: left;
}
.buy-agreement a{
    float: left;
    font-size: 0.6rem;
    color: #EDEDED;
}


