.icon-iphone{
    background: url("../images/icon-iphone.png") no-repeat left center;
}
.icon-oppassLock{
    background: url("../images/icon-oppassLock.png") no-repeat left center;
}

.login-from .inp{

    height: 0.9rem;
    line-height: 0.8rem;
    padding-left: 0.8rem;
    background-size: 0.6rem 0.8rem;
}

.login-from .inp span{
    display: inline-block;
    width: 3rem;
    font-size: 0.70rem;

}


.login-panel{
   margin: 0 0.5rem;
}

.login-panel a{
    color: #00aeef;
    font-size:0.5rem;
    text-decoration: underline;
}
.login-panel a:nth-child(1){
    float: left;
}
.login-panel a:nth-child(2){
    float: right;
}



