
.my-point-list .mod-details{
    padding:0 0.06rem 0 0;

}
.my-point-list .mod-details strong{
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    display: inline-block;
    font-size: 0.65rem;
    color: #00579c;
    border-bottom: 0.08rem solid #005fab;
    line-height: 2.2rem;
}

.mess {
    background-color:#F8F8F8;
    padding-top: 1rem;
    margin-bottom: 0.6rem;
    padding-bottom: 0.6rem;
}
.mess p {
    text-indent: 1rem;
    width: 15rem;
    font-size: 0.6rem;
    line-height: 1rem;
    margin: 0 auto;
    color: #262626;
}
.message{
    padding: 0.2rem 0.6rem;
    display: block;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
}
.message em{

    color: #00aeef;
}