

.center-top{
    padding-top:1rem;
    padding-bottom: 1rem;
    background: -webkit-linear-gradient(top, #0068bc 0%, #004c8a 100%);
}

.center-top p{
    text-align: center;
    color: #fff;
}
.center-top p:nth-of-type(1){
    font-size: 0.75rem;
}
.center-top p:nth-of-type(2){
    font-weight: 100!important;
    font-size: 2.7rem;
    margin: 0.8rem auto;
}

.center-top p:nth-of-type(3){
    font-weight: 100!important;
    font-size: 0.68rem;
    color: rgba(255, 255, 255, 0.51);

}
.center-top p:nth-of-type(4){
    margin-top: 0.1rem;
    font-weight: 100!important;
    font-size: 1.2rem;

}

.center-data li {

    text-align: center;
    padding-top: 0.3rem;
    width: 5.33rem;
    height: 3rem;
    border-left: 0.06rem solid #DFDFDF;
    box-sizing: border-box;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%,#ffffff) , color-stop(0%,#d6d6d6));
}
.center-data li span {
    color: #fc8231;
}
.center-data li p {
    color: #888888;
    margin-top: 0.2rem;
    font-size: 0.55rem;
    text-align: center;
}

.my-center-box{
    background-color: #fff;
}

.my-center-box .operate{
    text-align: center;
    padding-top:0.6rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #e9e9e9;
    width: 15.1rem;
    margin: 0 auto;
}
.my-recharge,.my-withdraw{
    display: inline-block;
    height: 1.8rem;
    box-shadow: 0.1rem 0.1rem  0.3rem rgba(0, 0, 0, 0.17);
    margin: 0 0.2rem;
}
.my-recharge a ,.my-withdraw a{
    font-size: 0.7rem;
    display:block;
    padding-left: 1rem;
    width: 7rem;
    line-height: 1.8rem;
    height: 1.8rem;
    color: #fff;
    border-radius: 0.09rem;

}

.my-recharge a{
    box-shadow: inset -0.1rem -0.1rem  0.2rem rgba(0, 0, 0, 0.17);
    background:#fa8232 url("../images/my-recharge.png") no-repeat 1.6rem center;
    background-size: 0.8rem;
}
.my-withdraw a{
    box-shadow: inset -0.1rem -0.1rem  0.3rem rgba(0, 0, 0, 0.17);
    background:#27a3f8 url("../images/my-withdraw.png") no-repeat 1.6rem center;
    background-size: 0.8rem;
}
.operate-list{

}

.icon-BAR-GRAPH1{
    background: url("../images/icon-BAR-GRAPH1.png") no-repeat left center;
    background-size: 0.8rem 0.6rem ;
}
.icon-COG{
    background: url("../images/icon-COG.png") no-repeat left center;
    background-size: 0.8rem 0.8rem ;
}
.icon-GRID{
    background: url("../images/icon-GRID.png") no-repeat left center;
    background-size: 0.8rem 0.8rem ;
}
.icon-COMPUTER_OK{
    background: url("../images/icon-COMPUTER_OK.png") no-repeat left center;
    background-size: 0.8rem 0.8rem ;
}


.operate-list span{
    padding-left: 1rem;
    font-size: 0.7rem;
    color: #686868;
    display: inline-block;
}

.inpMess {
    background: url("../images/buy-icon-3.png") no-repeat right center;
    background-size: 0.3rem 0.5rem;
    padding-right: 1rem;
}

.operate-list p{
    color: #fa8232;
    font-size: 0.7rem;
    display: inline-block;
}
