.payment-success-mess{
    text-align: center;
}

.payment-success-mess img{
    display: block;
    margin: 1rem auto 0.4rem;
    width: 2.5rem;
}

.payment-success-mess span{
    display: inline-block;
    text-align: center;
    margin-bottom: 0.3rem;
}
.payment-success-mess p{
    display: block;
    text-align: center;
    font-size: 0.65rem;
    color: #888888;
    line-height: 1rem;
}
.route{
    margin-top: 0.7rem;
}
.route li{
    float: left;
}
.route li.route-url{
    display: inline-block;
    text-align: center;
    width: 7.35rem;
}
.route li a{
    font-size: 0.75rem;
    color: #00aeef;

}


