.money{
    padding: 0 0.6rem;
}
.money span,.money p{
    display: inline-block;
    color: #fff;
    font-size: 0.75rem;
}


.money p em{
    color: #00AEEF;
    margin: 0 0.2rem;
    font-size: 0.9rem;

}
.reset-from .inp{

    height: 0.9rem;
    line-height: 0.8rem;
    background-size: 0.6rem 0.8rem;
}

.reset-from .inp span{
    display: inline-block;
    width: 3rem;
    font-size: 0.70rem;

}



