
.index-register{
    background-color:#008FD1 ;
    padding: 0.6rem 0;
}
.index-register h3{
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

.icon-iphone{
    background: url("../images/icon-iphone.png") no-repeat 0.6rem center;
}
.icon-oppassLock{
    background: url("../images/icon-oppassLock.png") no-repeat 0.6rem center;
}

.icon-code{
    background: url("../images/icon-code.png") no-repeat 0.6rem center;
}
.index-register .inpBox{
    background-color:#fff ;
    width: 15rem;
    border-radius: 0.08rem;
    margin:  0 auto;
    box-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.7);
    padding: 0.3rem 0 0.3rem 1.5rem;
    background-size: 0.6rem 0.8rem;
}

.index-register .inpBox span{
    float: left;
    font-size: 0.6rem;
    color: #525252;
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.2rem;

}

.index-register .inpBox input{
    float: left;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #EDEDED;
}

.index-register-code{
    color: #01AEEF;
    border-left: 0.05rem solid #0092D2;
    display:inline-block;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;
    padding: 0 0.5rem;
}

.buy-agreement{
    padding: 0.6rem 0.6rem 0;
    overflow: hidden;
}
.buy-agreement label input{
    margin: 0.1rem 0.4rem 0 0;
    float: left;
    width: 0.6rem;
    height: 0.6rem;
}
.buy-agreement label p{
    color: #ffffff;
    font-size: 0.6rem;
    float: left;
}
.buy-agreement a{
    float: left;
    font-size: 0.6rem;
    color: #EDEDED;
}


