.icon-iphone{
    background: url("../images/icon-iphone.png") no-repeat left center;
}
.icon-oppassLock{
    background: url("../images/icon-oppassLock.png") no-repeat left center;
}
.icon-passLock{
    background: url("../images/icon-passLock.png") no-repeat left center;
}
.icon-code{
    background: url("../images/icon-code.png") no-repeat left center;
}

.reset-from .inp{

    height: 0.9rem;
    line-height: 0.8rem;
    padding-left: 0.8rem;
    background-size: 0.6rem 0.8rem;
}

.reset-from .inp span{
    display: inline-block;
    width: 3rem;
    font-size: 0.70rem;

}

.reset-from .inp input{
    width: 6rem;
    font-size: 0.55rem;
}



